{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %} Januszex {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     /* Remove the navbar's default rounded borders and increase the bottom margin */
     .navbar {
         margin-bottom: 50px;
         border-radius: 0;
     }
     /* Remove the jumbotron's default bottom margin */
     .jumbotron {
         margin-bottom: 0;
     }
     /* Add a gray background color and some padding to the footer */
     footer {
         background-color: #f2f2f2;
         padding: 25px;
     }
    </style>
</head>

<body>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Januszex</h1>
    <p>Sklep z częściami samochodowymi</p>
  </div>
</div>

<nav class="navbar navbar-inverse" style="margin-bottom:0px;">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" >
          <ul class="nav navbar-nav">
              <li><a href="{% url 'index' %}">Szukaj części</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'post-create' %}">Dodaj ogłoszenie</a></li>
              <li><a href="{% url 'user-posts' %}">Twoje oferty</a></li>
              <li><a href="{% url 'user-purchases' %}">Historia zakupów</a></li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="{% url 'user' %}"><span class="glyphicon glyphicon-user"></span> Twoje konto</a></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
              <!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk</a></li> -->
              {% else %}
              <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
              <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Zarejestruj</a></li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav><br/>

{% load cookielaw_tags %}
{% cookielaw_banner %}

{% block content %}
{% endblock %}

<footer class="container-fluid text-center">
  <p>Januszex</p>
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>
