{% extends 'base.html' %}

{% block content %}
<div>
    <form method="get" action="{% url 'post-search' 1 %}">
        <div class="form-group row">
            {% for field in search_form %}
            <div class="col-sm-3">
                {{ field.as_widget }}
            </div>
            {% endfor %}
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block">Szukaj</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {% if new_posts %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Najnowsze oferty</h1>
        </div>
    </div>
    <div class="row">
        {% for post in new_posts %}
        <div class="col-sm-4">
            <div class="panel panel-primary" style="cursor:pointer" onclick="location.href='/post/{{post.id}}'">
                <div class="panel-heading">
                    <h3>{{ post.category.name }} - {{ post.brand.name }}</h3>
                </div>
                <div class="panel-body">
                    <h4>{{ post.title }}</h4>
                    <div class="img showhim text-center">
                        {% if post.image %}
                        <img alt="Ikona"  src="/media/{{ post.image }}" class="img-thumbnail" width="200" />
                        {% else %}
                        <img alt="Ikonka" src="http://placekitten.com/g/400/200" class="img-thumbnail" />
                        {% endif %}
                    </div>
                    <div class="showme">
                        {{ post.description|truncatechars:50 }}
                    </div>
                    <div class="panel-footer">
                        <p sytle="text-align:left;">
                            {{ post.price }}zł
                            <span style="float:right;">
                                Dodano: {{ post.created_at }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="col-sm-12 text-center">
        <h1>Brak nowych ofert</h1>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("id_category")[0].setAttribute('disabled', true)
    document.getElementById("id_car_brand")[0].setAttribute('disabled', true)
    document.getElementById("id_new")[0].setAttribute('disabled', true)
</script>
{% endblock %}
