{% load i18n static %}
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<div class="popup" id="CookielawBanner">
	<div class="cookie-content">
		<div>
			<div class="col-sm-4"></div>
			<div class="cookie-text col-sm-4">
				<div>
					<a style="color:#000" role="button" class="btn btn-block">
						<span class="glyphicon glyphicon-info-sign" style="color: #1f83ef;"><h3>RODO i COOKIES</h3></span>
					</a>
				</div>
				<div>
					<center>
						<h3>Informujemy że Administratorem danych osobowych jest JANUSZEX Lukasz Bieszczad Filip Kaszak sp. j. z siedzibą:
							50-353 Piwna 10/15 Wroclaw, e-mail: filip@test.pl
							Z Inspektorem Ochrony Danych Operatora można się kontaktować pod adresem poczty elektronicznej lukasz@test.pl
							lub za pośrednictwem poczty na adres Operatora.
							Pełną treść obowiązku informacyjnego Administratora jest dostępna <a href="http://roman.ptak.staff.iiar.pwr.wroc.pl" target="_blanc">tutaj</a>.
							Informujemy, iż przechowujemy dane w postaci plików cookies na komputerach osób odwiedzających naszą witrynę.
							Korzystanie z naszej strony równoznaczne jest z wyrażeniem zgody na zapis, odczyt oraz przetwarzanie ww. danych. W każdej chwili
							użytkownik komputera może wyłączyć obsługę plików cookies w ustawieniach przeglądarki.</h3>
					</center>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<div class="cookie-buttons col-sm-12" style="padding: 20px">
			<a style="color:#fff" role="button" class="btn btn-success btn-block" href="javascript:Cookielaw.createCookielawCookie();">
				<span class="glyphicon glyphicon-ok"></span>
				{% trans " Ok, rozumiem" %}
			</a>
		</div>
		<div class="close-cookies"></div>
	</div>
</div>

<script type="application/javascript">
	$(document).ready(function() {
		$('.close-cookies').click(function() {
			$(this).parent().hide();
		});
	});
</script>
