{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-4 col-form-inline">{{ field.label }} </label>
            <div class="col-8">
                {{ field.as_widget }}
            </div>
        </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-12">
                <input type="submit" value="Stwórz ogłoszenie" class="btn btn-primary btn-block"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
 document.getElementById("id_category")[0].setAttribute('disabled', true)
 document.getElementById("id_car_brand")[0].setAttribute('disabled', true)
 document.getElementById("id_is_new")[0].setAttribute('disabled', true)
</script>
{% endblock %}
