{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="text-center">
      DETALE
      <h1>{{post.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2" style="background-color:#eee;color:#000">
      <h4>Sprzedający</h4>
      {{seller.username}}
      <h4>Cena</h4>
      {{post.price}} zł
      <h4>Kategoria</h4>
      {{post.category.name}}
      <h4>Marka samochodu</h4>
      {{post.brand.name}}
      <h4>Nowa</h4>
      {% if post.is_new %}Tak{% else %}Nie{% endif %}
      <h4>Dodano</h4>
      {{post.created_at}}
      <h4>Ilość wyświetleń</h4>
      {{post.views_counter}}
    </div>
    <div class="col-sm-6 text-center">
        {% if post.image %}
        <img src="/media/{{ post.image }}" class="img-responsive" alt="Zdjęcie" width="400">
        {% else %}
        <img src="http://placekitten.com/g/600/400" class="img-responsive" alt="Responsive image">
        {% endif %}
    </div>
    <div class="col-sm-4">
      {{post.description}}
    </div>
    {% if not post.bought %}
    {% if editable %}
    <div class="col-sm-12" style="margin: 10px">
      <div class="col-sm-6">
        <a href="{% url 'post-edit' post.id %}" style="color:#fff" role="button" class="btn btn-primary btn-block" style="margin: 20px; padding: 10px">
          <span class="glyphicon glyphicon-edit"></span> Edytuj
        </a>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="col-sm-6 text-container">
          <input style="color:#fff" role="button" class="btn btn-danger btn-block" style="margin: 10px; padding: 10px" type="submit" value="Usun" onclick="return confirm('Jestes pewny?')" />
        </div>
      </form>
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <div class="col-sm-12" style="margin: 10px">
        <form method="post" action="{% url 'post-buy' %}">
            {% csrf_token %}
            <div class="form-group row">
                {{ form.as_p }}
                <div class="col-sm-12 text-container">
                    <input style="color:#fff" role="button" class="btn btn-danger btn-block" style="margin: 10px; padding: 10px" type="submit" value="Kup" onclick="return confirm('Jestes pewny?')" />
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <div class="col-sm-12 text-center" style="margin: 10px">
        <h4>Zaloguj się aby kupić.</h4>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
