{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-4 col-form-inline">{{ field.label }}</label>
            <div class="col-8">
                {{ field.as_widget }}
            </div>
        </div>
        {% endfor %}
        <div>
            <div class="col-sm-6">
                <a href="{% url 'post-detail' post_id %}" style="color:#fff" role="button" class="btn btn-warning btn-block" style="margin: 10px; padding: 10px">
                    <span class="glyphicon glyphicon-backward"></span> Powrot
                </a>
            </div>
            <div class="col-sm-6 text-container">
                <input style="color:#fff" role="button" class="btn btn-success btn-block" style="margin: 10px; padding: 10px" type="submit"	value="Akceptuj" onclick="return confirm('Jestes pewny?')"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.getElementById("id_category")[0].setAttribute('disabled', true)
  document.getElementById("id_car_brand")[0].setAttribute('disabled', true)
  document.getElementById("id_is_new")[0].setAttribute('disabled', true)

  var element = document.getElementById("id_category")
  element.value = "{{category}}"

  element = document.getElementById("id_car_brand")
  element.value = "{{car_brand}}"
</script>
{% endblock %}
