{% extends 'base.html' %}

{% block content %}

<div>
    <form method="get" action="{% url 'post-search' posts.number %}">
        <div class="form-group row">
            {% for field in search_form %}
            <div class="col-sm-3">
                {{ field.as_widget }}
            </div>
            {% endfor %}
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block">Szukaj</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Wyniki wyszukiwania</h1>
            </div>
        </div>

        {% if posts %}
        {% for post in posts %}
        <div class="panel panel-primary" style="cursor:pointer" onclick="location.href='/post/{{post.id}}'">
            <div class="panel-heading">
                <h4>{{ post.title }}
                    <span style="float:right"> {{ post.category.name }} - {{ post.brand.name }}</span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="img">
                            {% if post.image %}
                            <img src="/media/{{ post.image }}" class="img-responsive" alt="Zdjęcie" width="100">
                            {% else %}
                            <img alt="Ikonka" src="http://placekitten.com/g/100/100" class="img-thumbnail" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-10">
                        {{ post.description|truncatechars:50 }}
                    </div>
                </div>
                <div class="panel-footer">
                    <p style="text-align:left;">
                        {{ post.price }}zł
                        <span style="float:right;">
                            Dodano: {{ post.created_at }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'post-search' posts.previous_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Poprzednia</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="{% url 'post-search' posts.number %}">{{posts.number}}</a></li>
                {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'post-search' posts.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Następna</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <div class="col-sm-12 text-center">
            <h2>Nie znaleziono żadnej oferty odpowiadającej podanym kryteriom.</h2>
        </div>
        {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("id_category")[0].setAttribute('disabled', true)
    document.getElementById("id_car_brand")[0].setAttribute('disabled', true)
    document.getElementById("id_new")[0].setAttribute('disabled', true)
</script>
{% endblock %}
