{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Twoje oferty</h1>
            </div>
        </div>

        <div class="row">
            {% if posts %}
            {% for post in posts %}
            <div class="col-sm-4">
                <div class="panel panel-primary" style="cursor:pointer" onclick="location.href='/post/{{post.id}}'">
                    <div class="panel-heading">
                        <h3>{{ post.category.name }} - {{ post.brand.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{ post.title }}</h4>
                        <div class="img text-center">
                            {% if post.image %}
                            <img alt="Ikona"  src="/media/{{ post.image }}" class="img-thumbnail" width="200" />
                            {% else %}
                            <img alt="Ikonka" src="http://placekitten.com/g/400/200" class="img-thumbnail" />
                            {% endif %}
                        </div>
                        <div>
                            {{ post.description|truncatechars:50 }}
                        </div>
                        <div class="panel-footer">
                            <p sytle="text-align:left;">
                                {{ post.price }} zł
                                <span style="float:right;">
                                    Dodano: {{ post.created_at }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12">
                <h2>Nie masz jeszcze żadnej dodanej oferty.</h2>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}
