{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Twoje zakupy</h1>
            </div>
        </div>

        <div class="row">
            {% if purchases %}
            {% for purchase in purchases %}
            <div class="col-sm-4">
                <div class="panel panel-primary" style="cursor:pointer" onclick="location.href='/post/{{purchase.post.id}}'">
                    <div class="panel-heading">
                        <h3>{{ purchase.post.category.name }} - {{ purchase.post.brand.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{ purchase.post.title }}</h4>
                        <div class="img text-center">
                            {% if post.image %}
                            <img alt="Ikona"  src="/media/{{ post.image }}" class="img-thumbnail" width="200" />
                            {% else %}
                            <img alt="Ikonka" src="http://placekitten.com/g/400/200" class="img-thumbnail" />
                            {% endif %}
                        </div>
                        <div>
                            {{ purchase.post.description|truncatechars:50 }}
                        </div>
                        <div>
                            Cena: {{ purchase.post.price }} zł
                        </div>
                        <div>
                            Przesyłka: {{purchase.delivery_type.name}} ({{ purchase.delivery_type.delivery_price }} zł)
                        </div>
                        <div class="panel-footer">
                            <p sytle="text-align:left;">
                                Zakupiono: {{ purchase.date }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12">
                <h2>Nie masz jeszcze żadnego zakupu.</h2>
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}
