{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post" action="/user">
    <div class="row">
        {% csrf_token %}
        <div class="col-sm-4">
            {% for field in user_form %}
            <div class="form-group row">
                <label for="{{ field.id_for_label}}" class="col-6 col-form-inline">{{ field.label }}</label>
            <div class="col-6">
                {{ field.as_widget }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <div class="form-group row">
            <label for="{{ address_form.voivodeship.id_for_label}}" class="col-6 col-form-inline">{{ address_form.voivodeship.label }}</label>
            <div class="col-6">
                {{ address_form.voivodeship }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ address_form.city.id_for_label}}" class="col-6 col-form-inline">{{ address_form.city.label }}</label>
            <div class="col-6">
                {{ address_form.city }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ address_form.zip_code.id_for_label}}" class="col-6 col-form-inline">{{ address_form.zip_code.label }}</label>
            <div class="col-6">
                {{ address_form.zip_code }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group row">
            <label for="{{ address_form.street.id_for_label}}" class="col-6 col-form-inline">{{ address_form.street.label }}</label>
            <div class="col-6">
                {{ address_form.street }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ address_form.building_number.id_for_label}}" class="col-6 col-form-inline">{{ address_form.building_number.label }}</label>
            <div class="col-6">
                {{ address_form.building_number }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ address_form.apartment_number.id_for_label}}" class="col-6 col-form-inline">{{ address_form.apartment_number.label }}</label>
            <div class="col-6">
                {{ address_form.apartment_number }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 center">
        <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-block" onclick="return confirm('Jestes pewny?')"/>
    </div>
</div>
</form><br/>
<form action="{% url 'user-delete' %}" method="post">
    <div class="row">
        <div class="col-sm-12 center">
            <input type="hidden" value="{{ user.id }}" name="user_id" />
            <input type="submit" value="Usuń konto" class="btn btn-danger btn-block" onclick="return confirm('Jestes pewny?')"/>
        </div>
    </div><br/>
</form>
</div>
{% endblock %}
