{% extends 'base.html' %}

{% block content %}
<h2>Zarejestruj</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Zarejestruj</button>
</form>
{% endblock %}
